{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"ru-RU" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Доска объявлений{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Доска объявлений</a>
    <span>
        {% if user.is_authenticated %}
            Пользователь: <a href="{% url 'profile' %}">{{ user.username }}</a> / <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'register' %}">Регистрация</a> / <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </span>

</nav>

<div class="main-content-wrap">
    <div class="container justify-content-center">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#">Tagunov Pavel</a>
    </div>
</footer>

</html>